<AuthorizeView Roles="Client">
    <Authorized>
        <MudLink Color="Color.Tertiary" href="Identity/Account/Manage"> 
			<MudHidden Breakpoint="Breakpoint.SmAndDown"> Hello,</MudHidden> @context.User.Identity.Name
			<MudHidden Breakpoint="Breakpoint.MdAndUp"><MudIcon Icon="@Icons.Filled.Settings" /></MudHidden>
		</MudLink>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton Variant="Variant.Text" ButtonType="ButtonType.Submit" EndIcon="@Icons.Filled.Logout" Color="Color.Tertiary">
				<MudHidden Breakpoint="Breakpoint.SmAndDown">Log out</MudHidden>
			</MudButton>
        </form>
    </Authorized>
	
</AuthorizeView>

<AuthorizeView Roles="Courier">
	<Authorized>
			<MudText Color="Color.Tertiary"><MudHidden Breakpoint="Breakpoint.SmAndDown">Hello, </MudHidden>@context.User.Identity.Name /></MudText>
			<form method="post" action="Identity/Account/LogOut">
			<MudButton Variant="Variant.Text" ButtonType="ButtonType.Submit" EndIcon="@Icons.Filled.Logout" Color="Color.Tertiary">
				<MudHidden Breakpoint="Breakpoint.SmAndDown">Log out</MudHidden>
			</MudButton>
		</form>
	</Authorized>
</AuthorizeView>

<AuthorizeView>
	<NotAuthorized>
		<MudButton Link="Identity/Account/Register"
				   Target="_self"
				   Variant="Variant.Text"
				   EndIcon="@Icons.Filled.AppRegistration"
				   Color="Color.Tertiary">Register</MudButton>
		<MudButton Link="Identity/Account/Login"
				   Target="_self"
				   Variant="Variant.Text"
				   EndIcon="@Icons.Filled.Login"
				   Color="Color.Tertiary">Log in</MudButton>
	</NotAuthorized>
</AuthorizeView>
