@page "/settings"
@using Courier_service.Models
@inherits OwningComponentBase<DatabaseService> 

<AuthorizeView>
	<Authorized>
		<h1>Hello @context.User.Identity.Name!</h1>
		@if (clients == null)
		{
			<MudSkeleton SkeletonType="@SkeletonType.Rectangle" Width="30%" Height="50px" />
		}
		else
		{
			<table border="1">
				<tr>
					<th>Id</th>
					<th>FName</th>
					<th>SName</th>
					<th>Patronimyc</th>
					<th>AspName</th>
				</tr>
				@foreach (Client item in clients)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.FName</td>
						<td>@item.SName</td>
						<td>@item.Patronymic</td>
						<td>@item.AspName</td>
					</tr>
				}
			</table>}
	</Authorized>
	<NotAuthorized>
		<h3>Log in first!</h3>
	</NotAuthorized>
</AuthorizeView>

@code {
	public System.Collections.Generic.IList<Client> clients;

	protected override async void OnInitialized()
	{
		clients = await Service.ClientDataAsync();
		try { this.StateHasChanged(); }
		catch { }
	}
}
